<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: #ddd;
            width: 360px;
            display: grid;
            margin-left: auto;
            margin-right: auto;
        }
        h1{
            text-align: center;
            width: 100%; 
            font-size: 20pt; 
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        a{
            padding: 10px 0px 10px 0px;
            margin-bottom: 5px;
            border-radius: 5pt;
            width: 100%;
            background-color: #aaa;
            text-decoration: none; 
            text-align: center;
            display: inline-block;
            color:#333; 
            font-size: 15pt; 
            font-family:Georgia, 'Times New Roman', Times, serif;
            cursor: pointer;
        }
        p{
            color:#333;
            font-size: 12pt; 
            font-family:Georgia, 'Times New Roman', Times, serif; 
            width: 100%;
        }
        h2{
            width: 100%; 
            color:#333;
            font-size: 12pt; 
            font-family:Georgia, 'Times New Roman', Times, serif;
        }

    </style>
</head>
<body >
    <h1>Convite para Assinatura digital</h1>
    <div class="formulario">
        
        <h2>Selecione um dos metodos de assinaturas:</h2>
        <a href="https://localhost:5000/">Selfie e Documento com foto</a>
        <a href="https://www.youtube.com/">Certificado Digital</a>
        <a href="https://www.youtube.com/">Token de Acesso</a>
        
    </div>
    <p>Obrigado por utilizar nossos serviços de assinatura digital</p>
</body>
</html>